<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load leaflet_tags %}

  <head>
      {%leaflet_js%}
      {%leaflet_css%}
      <meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
	  <meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	  <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	  <meta name="author" content="FREEHTML5.CO" />

      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="{% static 'routing/leaflet-routing-machine.css' %}">
	 <link rel="stylesheet" type="text/css" href="{% static 'css/easy-button.css' %}">
	 <link rel="stylesheet" type="text/css" href="{% static 'leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.css' %}">

      <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.ico'%}">
      <!-- Bootstrap core CSS     -->
    <link href="{% static 'assets/css/bootstrap.min.css'%}" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="{% static 'assets/css/animate.min.css'%}" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="{% static 'assets/css/light-bootstrap-dashboard.css'%}" rel="stylesheet"/>

      <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{%static 'assets/css/demo.css'%}" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="{% static 'assets/css/pe-icon-7-stroke.css'%}" rel="stylesheet" />

      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha384-wvI9pNEnPX29GJjVyYwIwvYE8opCt3qgqPtZ+xNT/JPLM9BmzQ2JjigSzdaCw1Qb" crossorigin=""/>
     <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha384-yvVOcTH1t8L/C3qZP3d7P0eWofXOQLjQxbR5+IkjANLcWm8+7GG2JhRzOhCvKj+M" crossorigin=""></script>

      <script type="text/javascript" src="{% static 'dist/leaflet.ajax.js' %}" ></script>
	  <script type="text/javascript" src="{% static 'leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.js' %}" ></script>
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	  <script type="text/javascript" src="{% static 'js/easy-button.js' %}" ></script>
      <script type="text/javascript" src="{% static 'routing/leaflet-routing-machine.js' %}" ></script>


</head>
<body>

      {% include 'nave.html' %}
<div class="row" style="width: 80%; margin-left: 300px; margin-bottom: 30px; height: 600px; font-size: 11px; margin-top: 100px">
      {% block content %}
          {% if chart %}
             <img src="data:image/png;base64,{{ chart|safe}}">
          {% endif %}
          {% if charti %}
             <img src="data:image/png;base64,{{ charti|safe}}">
          {% endif %}
           {% if image_file %}
             <img src="data:image/png;base64,{{ image_file }}">

          {% endif %}
          {% if figdata_png%}
              <img src="data:image/png;base64,{{ figdata_png }}"/>
          {% endif %}

      {% endblock content %}

  </div>


</body>
          <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

     <!--   Core JS Files   -->
        <script src="{%static 'assets/js/jquery.3.2.1.min.js'%}" type="text/javascript"></script>
        <script src="{%static 'assets/js/bootstrap.min.js'%}" type="text/javascript"></script>

        <!--  Charts Plugin -->
        <script src="{%static 'assets/js/chartist.min.js'%}"></script>

        <!--  Notifications Plugin    -->
        <script src="{%static 'assets/js/bootstrap-notify.js'%}"></script>

        <!--  Google Maps Plugin    -->
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

        <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
        <script src="{%static 'assets/js/light-bootstrap-dashboard.js'%}"></script>

        <!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
        <script src="{%static 'assets/js/demo.js'%}"></script>

</html>