{% load static %}
{% load leaflet_tags %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="EN">

  <head>

      {%leaflet_js%}
      {%leaflet_css%}
      <meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
	  <meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	  <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	  <meta name="author" content="FREEHTML5.CO" />

      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}"/>
      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="{% static 'routing/leaflet-routing-machine.css' %}">
	 <link rel="stylesheet" type="text/css" href="{% static 'css/easy-button.css' %}">
	 <link rel="stylesheet" type="text/css" href="{% static 'leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.css' %}">
      <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.ico'%}">
      <!-- Bootstrap core CSS     -->
    <link href="{% static 'assets/css/bootstrap.min.css'%}" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="{% static 'assets/css/animate.min.css'%}" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="{% static 'assets/css/light-bootstrap-dashboard.css'%}" rel="stylesheet"/>

      <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{%static 'assets/css/demo.css'%}" rel="stylesheet" />


    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/css/pe-icon-7-stroke.css'%}" rel="stylesheet" />

      <link href="{% static 'js/jquery-ui-1.13.2/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'js/jquery-ui-1.13.2/jquery-ui.structure.css' %}" rel="stylesheet">
    <link href="{% static 'js/jquery-ui-1.13.2/jquery-ui.theme.min.css' %}" rel="stylesheet">
     <link href="{% static 'js/nprogress/nprogress.css' %}" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.13.2/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/myjs.js' %}"></script>


      <script type="text/javascript" src="{% static 'dist/leaflet.ajax.js' %}" ></script>
	  <script type="text/javascript" src="{% static 'leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.js' %}" ></script>
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	  <script type="text/javascript" src="{% static 'js/easy-button.js' %}" ></script>
      <script type="text/javascript" src="{% static 'routing/leaflet-routing-machine.js' %}" ></script>
       <script src="{% static 'js/map.js'%}" type="text/javascript"></script>
        <script src="{% static 'js/nprogress/nprogress.js' %}"></script>
      <title>Alert Criminel</title>

      <style type="text/css">
		#gis {width: 70%;height:300px;margin-left: 200px;}

        /*Align the title to the center of the page*/

.paging-nav {
  text-align: right;
  padding-top: 2px;
}

.paging-nav a {
  margin: auto 1px;
  text-decoration: none;
  display: inline-block;
  padding: 1px 7px;
  background: #91b9e6;
  color: white;
  border-radius: 3px;
}

.paging-nav .selected-page {
  background: #187ed5;
  font-weight: bold;
}
.table{
	font-size: 13px;
	text-align: center;
	width: 95%;
	margin: auto;
	text-align: center;
}

/*Make alternating colors for the table rows*/
.table tr:nth-child(odd){
	background: #B8CAE4
}

.table tr:nth-child(even){
	background: #dae5f4
}

th {
  background-color: #337ab7;
  color: white;
}
.display_table{
	border-bottom-right-radius: 20px;
	/*border-bottom-left-radius: 20px;*/
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 20px;
	box-shadow: 12px 12px 20px 6px #2e6da4;
}
.header {
    font-family: helvetica;
    color: #337ab7;
    font-size: 50px;
    text-align: center;
    width: 100%;
    text-shadow: 6px 6px 6px #c9c6c6;
    display: block;
    font-weight: bolder;
}
.success{
     list-style: none;
     background-color: #1D62F0;
     color: white;
     box-shadow: 12px 12px 12px #e61c66;
     text-align: center;
 }
	</style>
  </head>

<body>
  <header>

      {% include 'nave.html' %}
  </header>
  <main role="main" class="container" >
   {% if messages %}
        <ul class="messages" style="margin-top: 60px">
               {% for message in messages %}

                     <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
               {% endfor %}
       </ul>
  {% endif %}
      <div class="jumbotron">

          <div class="header">List of Alerts</div>
            <div class="row" style="height: 800px;margin-left: 100px">
          <div class="col-sm-2 datetimeinput">
                  <form method="POST" action="" >{% csrf_token %}

                        {{form|crispy}}
                      <input type="submit" value="Search" style=" width: 100%"  class="btn btn-primary mybutton" />
                       </form>
              <br><br>
               <button type="button" class="btn btn-primary mybutton" style=" width: 100%; height: 30px"><a href="{% url 'add_alert' %}"style="color: #1D62F0; font-size: 13px">Add Alert</a></button>
               </div>
              <br>


         <div class="col-sm-10">
                    <!--<div class="col-md-12">
                        <div class="card">-->

        <div class="display_table" style="font-size: 15px">
               <table class="table">
                  <thead>
                  <tr>
                      <th scope="col">Count</th>
                     <!-- <th scope="col">Lists</th>
                    <th scope="col">Autors</th>-->
                      <th scope="col">Title</th>
                    <!--<th scope="col">Phone</th>-->
                      <th scope="col">Date</th>
                      <th scope="col">Location</th>
                      <th scope="col">City_Name</th>
                    <th scope="col">Resolve</th>
                    <th scope="col">In progess</th>
                      <th scope="col">Last Updated</th>
                      <th scope="col">Delete</th>



                </tr>
            </thead>

            <tbody>
            {% for Alert in queryset %}
                <tr>


                     <td>{{forloop.counter }}</td>
                    <td><a href="{% url 'update_alert' Alert.id %}" style="font-size: 15px; color: #1D62F0">{{ Alert.title }}</a></td>
                   <!-- <td>{{ Alert.phone }}</td>-->
                     <td>{{ Alert.due_date }}</td>
                    <td>{{ Alert.location }}</td>
                    <td><a href="{% url 'alert_detail' Alert.id %}" style="font-size: 15px; color: #1D62F0">{{ Alert.city }}</a></td>
                           <td>
                      {% if Alert.Resolue%}
                      <div style="background-color: green;">
                          <a href="{% url 'alert_detail' Alert.id %}" style="font-size: 12px">{{Alert.Resolue}}</a></div>
                      {% endif %}
                    </td>
                    <td> {% if Alert.Encours %}
                          <div style="background-color: red">
                              <a href="{% url 'alert_detail' Alert.id %}" style="font-size: 12px">{{Alert.Encours}}</a></div>
                      {% endif %}</td>
                   <td>{{ Alert.last_update}}</td>
                    <td><a href="{% url 'delete_alert' Alert.id %}"><img src="{% static 'img/bel.png'%}" alt="corbeille" style="width: 25px"/></a></td>


                </tr>
            {% endfor %}
            </tbody>
     <div id="pagination">
 <!--<button onclick="previousPage()">Previous</button>
  <button onclick="nextPage()">Next</button>-->
</div>

        </table>
        </div>
                        <!--</div>
                    </div>-->
         </div>
            </div>

      </div>
     <div class="row">
             {% for image in images %}
        <img src="data:image/jpeg;base64,{{ image }}" alt="Image">
    {% endfor %}
      </div>
  </main>

  </body>




    <!--Deuxieme script-->
        <script type="text/javascript">
            $(document).ready(function(){

                demo.initChartist();

                $.notify({
                    icon: 'pe-7s-gift',
                    message: "Welcome to <b>Alert Criminal</b> - your safety is our concern."

                },{
                    type: 'info',
                    timer: 4000
                });

            });
        </script>



          <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

     <!--   Core JS Files   -->
          <script src="{%static 'assets/js/bootstrap.min.js'%}" type="text/javascript"></script>

        <!--  Charts Plugin -->
        <script src="{%static 'assets/js/chartist.min.js'%}"></script>

        <!--  Notifications Plugin    -->
        <script src="{%static 'assets/js/bootstrap-notify.js'%}"></script>

        <!--  Google Maps Plugin    -->
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

        <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
        <script src="{%static 'assets/js/light-bootstrap-dashboard.js'%}"></script>

        <!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
        <script src="{%static 'assets/js/demo.js'%}"></script>
         <script src="{%static 'js/pager/paging.js'%}"></script>
        <script src="{%static 'js/myjs.js'%}"></script>


    <!--premier script-->

     <script type="text/javascript">
    $("#printBtn").click(function(){
      $('#map').print();
    });
    </script>
    <br>
    <script type="text/javascript">
            var mymap = L.map('map2').setView([14.497401, -14.452362], 8);
            var osm = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                }).addTo(mymap);
             var marker1 = L.marker([14.497401, -14.452362]).addTo(mymap);
            var OpenTopoMap = L.tileLayer('http://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', {
                maxZoom: 17,
                attribution: 'Map data: &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, <a href="http://viewfinderpanoramas.org">SRTM</a> | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)'
            }).addTo(mymap);
             var marker2 = L.marker([14.497401, -14.452362]).addTo(mymap);
            var datasets = new L.GeoJSON.AJAX("{% url 'county' %}",{

                onEachFeature: function(feature,layer){
                    layer.bindPopup(feature.properties.counties.toString());
                }

            });

            var points = new L.GeoJSON.AJAX("{% url 'Alert' %}",{
                pointToLayer: function (feature, latlng) {
                    return L.marker(latlng, {
                        icon: L.icon({
                            iconUrl: "{% static 'img/red.png' %}",
                            iconSize: [24, 28],
                            iconAnchor: [12, 28],
                            popupAnchor: [0, -25]
                        }),
                        title: feature.properties.NAME,
                        riseOnHover: true
                    });
                },
                onEachFeature: function(feature,layer){
                    layer.bindPopup(feature.properties.name.toString());
                }

            });

            //datasets.addTo(map);
            points.addTo(map);


            var baseLayers = {
                "OSM": osm,
                "OpenTopoMap":OpenTopoMap
            }

            var groupedOverlays = {
              "Layers": {
                "counties": datasets,
                "Alert": points
              }

            };

            L.control.groupedLayers(baseLayers, groupedOverlays).addTo(map);

            var routing =  L.Routing.control({
              waypoints: [
                L.latLng(13, 4),
                L.latLng(13, 4)
              ]
            });

            L.easyButton('fa-compass',
              function (){
                $('.leaflet-routing-container').is(':visible') ? routing.removeFrom(map) : routing.addTo(map)
              },
              'Routing'
             ).addTo(map);


            function createButton(label, container) {
                var btn = L.DomUtil.create('button', '', container);
                btn.setAttribute('type', 'button');
                btn.innerHTML = label;
                return btn;


        }

    </script>


    <!-- javascript -->
<script >
var dataPreferences = {
	series: [
		[25, 30, 20, 25]
	]
};

var optionsPreferences = {
	donut: true,
	donutWidth: 40,
	startAngle: 0,
	total: 100,
	showLabel: false,
	axisX: {
		showGrid: false
	}
};

Chartist.Pie('#chartPreferences', dataPreferences, optionsPreferences);

Chartist.Pie('#chartPreferences', {
  labels: ['62%','32%','6%'],
  series: [62, 32, 6]
});
</script>

<script>
    <!-- javascript -->

var data = {
  labels: ['Jan', 'Feb', 'Mar', 'Apr', 'Mai', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
  series: [
	[542, 443, 320, 780, 553, 453, 326, 434, 568, 610, 756, 895],
	[412, 243, 280, 580, 453, 353, 300, 364, 368, 410, 636, 695]
  ]
};

var options = {
	seriesBarDistance: 10,
	axisX: {
		showGrid: false
	},
	height: "245px"
};

var responsiveOptions = [
  ['screen and (max-width: 640px)', {
	seriesBarDistance: 5,
	axisX: {
	  labelInterpolationFnc: function (value) {
		return value[0];
	  }
	}
  }]
];

Chartist.Bar('#chartActivity', data, options, responsiveOptions);
</script>

</html>