<!doctype html>
<html>
{% load static %}
{% load leaflet_tags %}

  <head>
      {%leaflet_js%}
      {%leaflet_css%}
      <meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
	  <meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	  <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	  <meta name="author" content="FREEHTML5.CO" />

      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="{% static 'routing/leaflet-routing-machine.css' %}">
	 <link rel="stylesheet" type="text/css" href="{% static 'css/easy-button.css' %}">
	 <link rel="stylesheet" type="text/css" href="{% static 'leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.css' %}">

      <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.ico'%}">
      <!-- Bootstrap core CSS     -->
    <link href="{% static 'assets/css/bootstrap.min.css'%}" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="{% static 'assets/css/animate.min.css'%}" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="{% static 'assets/css/light-bootstrap-dashboard.css?v=1.4.0'%}" rel="stylesheet"/>

      <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{%static 'assets/css/demo.css'%}" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="{% static 'assets/css/pe-icon-7-stroke.css'%}" rel="stylesheet" />

      <script type="text/javascript" src="{% static 'dist/leaflet.ajax.js' %}" ></script>
	  <script type="text/javascript" src="{% static 'leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.js' %}" ></script>
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	  <script type="text/javascript" src="{% static 'js/easy-button.js' %}" ></script>
      <script type="text/javascript" src="{% static 'routing/leaflet-routing-machine.js' %}" ></script>


      <title>Alert Criminel</title>

      <style type="text/css">
		#gis {width: 70%;height:300px;margin-left: 200px;}
	</style>
  </head>

<body>
  <header>

{% include 'nav.html' %}
  </header>
  <div class="container">
      <div class="row" style="margin-left: 100px">
      <div class="table-responsive table-full-width">
          <table class="table table-hover table-striped">

            <!--<table class="table table-bordered">-->
              <thead>
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Autors</th>
                <th scope="col">Phone of plantif</th>
                  <th scope="col">Date</th>
                  <th scope="col">Location</th>
                <th scope="col">Resolve</th>
                <th scope="col">In progess</th>
                   <th scope="col">Save</th>
                <th scope="col">Print</th>
                   <th scope="col">Notify</th>


            </tr>
        </thead>
        <tbody>
        {% for Alert in liste_alert %}
            <tr>

                <td>{{ Alert.title }}</td>
                <td>{{ Alert.autor}}</td>
                <td>{{ Alert.phone }}</td>
                 <td>{{ Alert.due_date }}</td>
                <td>{{ Alert.location }}</td>
                <td>{{ Alert.Resolue}}</td>
                <td>{{ Alert.Encours }}</td>
                <td>[<a href="{% url 'save' Alert.id %}">Save</a>]</td>
                <td>[<a href="{% url 'print' Alert.id %}">Print</a>]</td>
                <td>[<a href="{% url 'read' Alert.id %}">read</a>]</td>

            </tr>
        {% endfor %}
        </tbody>
            </table>
      </div>
      </div>
      <!--</div>-->

<div class="row" style="margin-bottom: 30px">  {% leaflet_map "gis"  callback="window.our_layers"%}</div>

  <div class="row">
      {% block content %}
          {% if chart %}
             <img src="data:image/png;base64,{{ chart|safe}}">
          {% endif %}
          {% if charti %}
             <img src="data:image/png;base64,{{ charti|safe}}">
          {% endif %}

      {% endblock content %}

  </div>


<!-- graphic area in html
<div class="row" style="margin-bottom: 30px; margin-left: 100px">
    <div class="col-md-4">
<h4><small>insecurity statistics</small></h4>

<div class="row margin-top">

 <div class="col-md-10 col-md-offset-1">

     <div id="chartPreferences" class="ct-chart "></div>

 </div>
</div>
</div>


 <div class="row">

 <div class="col-md-10 col-md-offset-1">

     <h6>Legend</h6>

     <i class="fa fa-circle text-info"></i> January

     <i class="fa fa-circle text-success"></i> February

     <i class="fa fa-circle text-warning"></i> March

     <i class="fa fa-circle text-danger"></i> April

 </div>

</div>

 graphic area in html
<div class="col-md-4">
<h4>Activity <br><small>Multiple Bars Chart</small></h4>

<div id="chartActivity" class="ct-chart "></div>

<h6>Legend</h6>

<span class="label label-info">Views</span>

<span class="label label-success">Reads</span>

  </div>
  </div>-->
  </div>


  </body>
{% include 'footer.html'%}


    <!--Deuxieme script-->
        <script type="text/javascript">
            $(document).ready(function(){

                demo.initChartist();

                $.notify({
                    icon: 'pe-7s-gift',
                    message: "Welcome to <b>Alert Criminal</b> - your safety is our concern."

                },{
                    type: 'info',
                    timer: 4000
                });

            });
        </script>



          <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

     <!--   Core JS Files   -->
        <script src="{%static 'assets/js/jquery.3.2.1.min.js'%}" type="text/javascript"></script>
        <script src="{%static 'assets/js/bootstrap.min.js'%}" type="text/javascript"></script>

        <!--  Charts Plugin -->
        <script src="{%static 'assets/js/chartist.min.js'%}"></script>

        <!--  Notifications Plugin    -->
        <script src="{%static 'assets/js/bootstrap-notify.js'%}"></script>

        <!--  Google Maps Plugin    -->
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

        <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
        <script src="{%static 'assets/js/light-bootstrap-dashboard.js?v=1.4.0'%}"></script>

        <!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
        <script src="{%static 'assets/js/demo.js'%}"></script>

    <!--premier script-->

     <script type="text/javascript">
    $("#printBtn").click(function(){
      $('#map').print();
    });
    </script>
    <br>
    <script type="text/javascript">
        function our_layers(map,options){
            var osm = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                });
            var OpenTopoMap = L.tileLayer('http://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', {
                maxZoom: 17,
                attribution: 'Map data: &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, <a href="http://viewfinderpanoramas.org">SRTM</a> | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)'
            });
            var datasets = new L.GeoJSON.AJAX("{% url 'county' %}",{
                /*style: function colors(feature){
                    switch(feature.properties.counties){
                        case 'WAJIR':
                            return{
                                color: 'orange',
                                fillOpacity: 0.8
                            };
                        break;
                        case 'ISIOLO':
                            return{
                                color: 'purple',
                                fillOpacity: 0.8
                            };
                        break;

                    }
                },*/
                onEachFeature: function(feature,layer){
                    layer.bindPopup(feature.properties.counties.toString());
                }

            });

            var points = new L.GeoJSON.AJAX("{% url 'Alert' %}",{
                pointToLayer: function (feature, latlng) {
                    return L.marker(latlng, {
                        icon: L.icon({
                            iconUrl: "{% static 'img/red.png' %}",
                            iconSize: [24, 28],
                            iconAnchor: [12, 28],
                            popupAnchor: [0, -25]
                        }),
                        title: feature.properties.NAME,
                        riseOnHover: true
                    });
                },
                onEachFeature: function(feature,layer){
                    layer.bindPopup(feature.properties.name.toString());
                }

            });

            //datasets.addTo(map);
            points.addTo(map);


            var baseLayers = {
                "OSM": osm,
                "OpenTopoMap":OpenTopoMap
            }

            var groupedOverlays = {
              "Layers": {
                "counties": datasets,
                "Alert": points
              }

            };

            L.control.groupedLayers(baseLayers, groupedOverlays).addTo(map);

            var routing =  L.Routing.control({
              waypoints: [
                L.latLng(13, 4),
                L.latLng(13, 4)
              ]
            });

            L.easyButton('fa-compass',
              function (){
                $('.leaflet-routing-container').is(':visible') ? routing.removeFrom(map) : routing.addTo(map)
              },
              'Routing'
            ).addTo(map);


            function createButton(label, container) {
                var btn = L.DomUtil.create('button', '', container);
                btn.setAttribute('type', 'button');
                btn.innerHTML = label;
                return btn;
            }

        }

    </script>


    <!-- javascript -->
<script >
var dataPreferences = {
	series: [
		[25, 30, 20, 25]
	]
};

var optionsPreferences = {
	donut: true,
	donutWidth: 40,
	startAngle: 0,
	total: 100,
	showLabel: false,
	axisX: {
		showGrid: false
	}
};

Chartist.Pie('#chartPreferences', dataPreferences, optionsPreferences);

Chartist.Pie('#chartPreferences', {
  labels: ['62%','32%','6%'],
  series: [62, 32, 6]
});
</script>

<script>
    <!-- javascript -->

var data = {
  labels: ['Jan', 'Feb', 'Mar', 'Apr', 'Mai', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
  series: [
	[542, 443, 320, 780, 553, 453, 326, 434, 568, 610, 756, 895],
	[412, 243, 280, 580, 453, 353, 300, 364, 368, 410, 636, 695]
  ]
};

var options = {
	seriesBarDistance: 10,
	axisX: {
		showGrid: false
	},
	height: "245px"
};

var responsiveOptions = [
  ['screen and (max-width: 640px)', {
	seriesBarDistance: 5,
	axisX: {
	  labelInterpolationFnc: function (value) {
		return value[0];
	  }
	}
  }]
];

Chartist.Bar('#chartActivity', data, options, responsiveOptions);
</script>

</html>